NEO4J_URI=neo4j+s://71a2fb8a.databases.neo4j.io
NEO4J_USER=71a2fb8a
NEO4J_PASSWORD=dfopYWx2Km7GVO1-fmmiCY2tpvOrHq-L0lauTSdqOYo
GEMINI_API_KEY=AIzaSyBsYjSu7APcGGZu6WhDVB94bAI7Qk-6w_Y
LLM_PROVIDER=gemini
OLLAMA_BASE_URL=http://localhost:11434
GEMINI_MODEL=gemini-3.1-pro
SQLITE_DB_PATH=data/skillgraph.db
